.insight-layout {
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 2rem;
  margin: 0 auto;
}

.insight-layout-content {
  max-width: 56.25rem;
  margin: 0 auto;
}
