:root {
  --primary-white-color: #ffffff;
  --primary-turquoise-color: #005f86;
  --primary-black-color: #000000;
  --primary-gray-color: #ededed;

  --border-gray-color: #d9d9d9;

  --secondary-turquoise-color: #ccdfe7;
  --secondary-grey-color: #ececec;

  --black-opacity-50-color: rgba(0, 0, 0, 0.5);
  --black-opacity-10-color: rgba(0, 0, 0, 0.1);
  --black-opacity-25-color: rgba(0, 0, 0, 0.25);

  --white-opacity-50-color: rgba(255, 255, 255, 0.5);

  --primary-shadow: 0.625rem 0.625rem 1.875rem 0.125rem
    var(--black-opacity-10-color);

  --secondary-shadow: 0 0.25rem 1.25rem 0 var(--black-opacity-25-color);
}
