.philosophy-section {
  width: 100%;
  padding: 7.1875rem 13.0625rem 7.1875rem;
  background-color: var(--primary-white-color);
}

.philosophy-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.philosophy-section-grid-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.125rem;
  background-color: var(--secondary-turquoise-color);
  padding: 3.0625rem 0 3rem 5.0625rem;
  border-radius: 0.625rem 0 0 0.625rem;
}

.philosophy-section-grid-details-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-black-color);
}

.philosophy-section-grid-details-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.philosophy-section-grid-details-content-item {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--black-opacity-50-color);
  text-align: left;
}

.philosophy-section-grid-details-content-item-one {
  max-width: 20.725rem;
}

.philosophy-section-grid-details-content-item-two {
  max-width: 20.725rem;
}

.philosophy-section-grid-img {
  background-color: var(--secondary-turquoise-color);
  border-radius: 0 0.625rem 0.625rem 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
