.our-approach-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6.5rem 7.1875rem;
}

.our-approach-section-content {
  width: 100%;
  border-radius: 0.625rem;
  background-color: var(--primary-turquoise-color);
  position: relative;
  overflow: hidden;
  padding: 2.375rem 5.1875rem 2.375rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2.0625rem;
}

.our-approach-section-content-circle-one {
  position: absolute;
  top: -5.1875rem;
  left: -3.875rem;
  z-index: 2;
}

.our-approach-section-content-circle-two {
  position: absolute;
  top: 11.25rem;
  left: -5.125rem;
  z-index: 1;
}

.our-approach-section-content-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.1875rem;
}

.our-approach-section-content-heading-preview {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-white-color);
}

.our-approach-section-content-heading-content {
  width: 100%;
  max-width: 33.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.125rem;
}

.our-approach-section-content-heading-content-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-white-color);
}

.our-approach-section-content-heading-content-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.our-approach-section-content-heading-content-subtitle-item {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--white-opacity-50-color);
}

.our-approach-section-content-discover-it-now-link {
  background-color: var(--secondary-turquoise-color);
  color: var(--primary-turquoise-color);
  width: 13.0625rem;
  margin-right: 13.1875rem;
}
