.second-article-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.second-article-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.second-article-content-title {
  font-weight: 500;
  color: var(--primary-turquoise-color);
  font-size: 1.5rem;
}

.second-article-content-text,
.second-article-content-list li {
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-black-color);
}

.second-article-content-list {
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.second-article-content-list-bold {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-black-color);
}
