.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.navbar-links-item {
  color: var(--primary-white-color);
  font-size: 1.0625rem;
  font-weight: 400;
}

.navbar-links-item-contrast {
  color: var(--primary-black-color);
}

.navbar-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-actions-book-demo-link {
  background-color: var(--secondary-turquoise-color) !important;
  color: var(--primary-turquoise-color) !important;
}

.navbar-insight {
  background-color: var(--primary-blue-color);
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
