.insight-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.insight-page img {
  margin: 0 auto;
  width: 100%;
  height: 21rem;
  object-fit: cover;
  margin-bottom: 3rem;
}

.insight-page div {
  width: 100%;
}

.insight-page h3 {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-black-color);
  margin: 6.3125rem auto 0.5rem;
  text-align: center;
}

.insight-page h2 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-black-color);
}

.insight-page h1 {
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-black-color);
  margin: 0 auto 5rem;
  max-width: 40rem;
  margin: 0 auto 3.625rem;
}

.insight-page p,
.insight-page li {
  font-weight: 400;
  font-size: 1.0625rem;
  color: var(--primary-black-color);
  text-align: justify;
}

.insight-page li {
  padding-left: 0.75rem;
}

.insight-page ul,
.insight-page ol {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.insight-page b {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-black-color);
}

.insight-page a {
  color: var(--secondary-blue-color);
  text-decoration: underline;
}
