@import url("../src/styles/fonts.css");
@import url("../src/styles/colors.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

span {
  text-align: left;
}

button {
  border: none;
  cursor: pointer;
}
